<div class="card p-3 my-3">
  <%= simple_form_for @list do |f| %>
    <%= f.input :name, label: "Name your list (e.g. romance, comedy, etc.)" %>
    <%= f.submit "Add your list", class: "btn btn-primary" %>
  <% end %>
</div>
